<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div id="about">
    <h2>Current Network Performance</h2>
    <dl class="row">
        <dt class="col-sm-2">As of</dt>
        <dd class="col-sm-9">{{last_snapshot['dttm_nyc'].strftime("%B %-d %Y, %-I:%M %p")}} (nyc time)</dd>

        <dt class="col-sm-2">Ping</dt>
        <dd class="col-sm-9">{{last_snapshot['Ping (ms)']}} ms</dd>

        <dt class="col-sm-2">Download</dt>
        <dd class="col-sm-9">{{last_snapshot['Download (mbits)'] | round(2)}} mbit/s</dd>

        <dt class="col-sm-2">Upload</dt>
        <dd class="col-sm-9">{{last_snapshot['Upload (mbits)'] | round(2)}} mbit/s</dd>
    </dl>


    <h3>About</h3>

    <p>
        I use a <a href="https://github.com/sivel/speedtest-cli">speedtest.net Python API</a> to capture metrics on my
        network performance throughout the day and store them in my personal MySQL database. This app provides
        visualizations of those metrics.
    </p>
</div>


<style>
    #about {
        padding-left: 1em;
        padding-top: 1em
    }

</style>
{% endblock content %}
